{% extends "layout.njk" %}
{% block content %}
<main class="container flow">
  <section>
    <ul class="forum">
      {% for row in rows %}
      <li class="post">
        <h1>{{ row.title }}</h1>
        <h2>Author: {{ row.authorId }}</h2>
        <h3>{{ row.createdAt }}</h3>  
        <p>{{ row.content }}</p>
        <p>{{ row.id }}</p>
      {% endfor %}
    </ul>
  </section>
</main>

{% endblock %}